
@model List<SelectListItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="form-group">
        <label>Prueba</label>
        @Html.DropDownList("CatAgenciasAutos", Model, new { @class = "form-control"})
    </div>
</div>
